.redactor-sub
  position: relative

  border-top: 1px dashed $border-color
  .gallery-control
    margin-top: - $border-width
    padding: $input-text-padding $main-padding
    bottom: 100%
    background: #ffffff
    @include border($border-color)
    border-top: 0
    + .input-btn
      margin-top: -1px
    .add-item
      cursor: pointer
      @include inline-block
      @include border($border-color, 2)
      border-radius: $main-margin-small/2
      border-style: dashed
      color: $border-color
      width: $layout-margin*3 + $main-margin-big
      text-align: center
      font-size: .9em
      .text
        display: table
        height: 100%
        span
          display: table-cell
          vertical-align: middle
          line-height: 1.3
      &:before
        content: ''!important
      &:hover
        border-color: $gallery-border
    .info
      background: $gray
      @include inline-block
      @include border()
      line-height: $modal-padding
      height: $modal-padding
      padding: 0 $input-text-padding
      margin-bottom: $input-text-padding

form[data-role='assetable']
  .gallery
    margin-top: $main-margin
    > *
      @include inline-block
      width: 20%
      padding: 0 0.5%!important
      height: $main-padding*4
      overflow: hidden
      box-shadow: none!important
      position: relative
      &:before
        position: absolute
        content: '\e87b'
        font-size: $layout-margin
        left: 0
        top: 0
        right: 0
        height: 100%
        line-height: $main-padding*4
        opacity: .8
        font-family: 'fontello'
        color: transparent
        text-align: center
      &:hover:before
        color: white
      img
        display: block
        min-height: $main-padding*4!important
        min-width: 100%!important
      &:first-child
        padding-left: 0
      &:last-child
        padding-right: 0

form[data-role='assetable']
  .hide
    display: none!important
  .gallery > *
    overflow: visible
    .content
      width: 90%
      height: 100%
      overflow: hidden
    &:before
      content: ''!important
    .delete
      cursor: pointer
      position: absolute
      left: 90%
      color: $sub-gray
      font-size: $font-size
      &:hover
        color: $red
