= f.input :username, label: false, placeholder: 'имя и фамилия'
= f.input :email, label: false, placeholder: 'введите свой email'

.attach-group
  = f.input :password, label: false, placeholder: 'пароль'
  = f.submit'Регистрация', class: 'btn btn-green'