.auth-full
  %h1.page-title
    Необходимо зайти или зарегистрироваться
  .block
    = yield :auth

  .block
    Вы пытаетесь зайти на приватную страницу сайта. Чтобы получить доступ к этой странице, вам нужно войти или зарегистрироваться.