$shadowBtnInset: #e9fff0;
$shadowBtnBack: #919191;

.btn {
  @include behavior;
  font-size: 14px;
  background: #939389;
  @include inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white !important;
  padding: 0 $button-padding;
  height: $button-height;
  line-height: $button-height;
  text-decoration: none !important;
  position: relative;
  border: none;
  border-radius: 2px;
  background-color: #939389;
  cursor: pointer;
  text-align: left;
  vertical-align: middle !important;
  [class^="icon-"], [class*=" icon-"] {
    margin-right: $button-padding/2;
    font-size: 18px;
    vertical-align: middle;
    text-shadow: none;
  }
}

.btn.small {
  line-height: 24px;
  font-size: 13px;
}

.btn:hover {
  box-shadow: inset 0 0 2*$layout-margin rgba($black, .4);
}

.btn.active, .btn:active, .open > .btn.dropdown-toggle {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 0 2*$layout-margin rgba($dark-black, .4) !important;
}

.btn-warning {

  color: white !important;
  background-color: $orange;
}
.btn-red {

  color: white !important;
  background-color: $btn-red;
}

.btn-info {

  color: white !important;
  background-color: #00dbf4;
}

.btn-fb {

  color: white !important;
  background-color: #4f7bd8;
}

.btn-regular {
  color: white !important;
  background-color: $blue;
}

.btn-green {
  color: white !important;
  background-color: $dark-green;
}

.btn-light-green {
  color: white !important;
  background-color: $green;
}

.btn-sub-gray-green {
  color: white !important;
  background-color: lighten($green, 10);
}

.btn-gray-green {
  color: white !important;
  background-color: $btn-gray-green;
}

.btn-rate {
  color: white !important;
  background-color: lighten($rate-btn-color, 16);
}

.btn-greenest {
  color: white !important;
  background-color: $lightest-green;
}

.btn-simple {
  color: white !important;
  background-color: #68a8ca;
}

.btn-inverse {

  color: white !important;
  background-color: $inverse-black;
  &:hover {
    box-shadow: inset 0 0 2*$layout-margin rgba($lame, .2);
  }
}

.btn.meter {
  overflow: visible;
}

.attach-group {
  margin-top: $main-margin;
  display: table;
  position: relative;
  width: 100%;
  &>* {
    display: table-cell;
    vertical-align: middle;
    &:first-child {
      width: 68% !important;
    }
  }
  .attach {
    display: table-cell;
    width: 30%;
    padding-left: 0.5px;
    border-left: $border-width solid #bc5423;
    font-size: 16px;
    @include box-shadow(inset 1px 0 0 #e9c2a9);
  }
  .dropdown {
    position: static;
    height: $header-line-height;
  }
}

.btn-social {
  background: white;
  color: $black;
  border: 1px solid $black;
  width: $button-height;
  height: $button-height;
  line-height: $button-height;
  text-decoration: none;
  font-size: 1.4em;
  text-align: center;
  border-radius: 50%;
  display: block;
  box-shadow: inset 0 0 $main-margin/3 $main-margin/6 $sub-lame !important;
  @include behavior;
  margin: 0 $main-margin/3*2 0 0;
  &:hover {
    background-color: $social-gray;
    box-shadow: none !important;
    color: $black;
  }
  &.dropdown-toggle {
    position: relative;
    box-shadow: none !important;
    background: none;
    border: none;
    overflow: hidden;
    i {
      font-size: 36px;
      left: -5px;
      top: -1px;
      line-height: 1;
      position: absolute;
    }
  }
}

.btn-round {
  @include behavior;
  display: block;
  $height:$main-padding * 2 - 2*$border-width;
  width: $height;
  height: $height;
  border: $base-border;
  border-radius: 50%;
  text-align: center;
  line-height: $height;
  color: $sub-gray;
  box-shadow:inset 0 (-$main-padding) $main-padding (-$main-padding/2) $lame;
  &:hover {
    color: $black;
    box-shadow:inset 0 (-$main-padding) $main-padding (-$main-padding/3) $lame;
  }
}

.btn-group {
  @include inline-block;
}

.btn-fit {
  width: 100%;
  display: block;
}