= content_for :title do
  Авторизация

- content_for :auth do
  = render partial: 'devise/sessions/new', locals: {enable_reg_link: true}

- if request.xhr?
  = yield :auth
  :javascript
    $('.simple_form.new_user').enableClientSideValidations();

- else
  = render partial: 'devise/shared/full_registration_layout'