%p Поздравляем с успешной регистрацией на сайте Единой Системы Оценки Решений!
%p Для того, чтобы получить доступ ко всем возможностям сайта, Вам необходимо подтвердить свой email, кликнув по ссылке ниже или скопировав ее адресную строку Вашего браузера:
%p= link_to confirmation_url(@resource, :confirmation_token => @resource.confirmation_token), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
%p ________________________________
Единая Система Оценки Решений  – это новый социальный проект, помогающий людям решать проблемы. В его основе лежит принцип взаимовыручки и добровольного обмена опытом между людьми – поэтому мы очень рады, что наша система набирает все большую популярность у пользователей!
%br
________________________________
%br
%br
Решаем вместе!,
%br
команда Единой Системы Оценки Решений!