%p
  Здравствуйте, #{@resource.email}!
%p Кто-то запросил ссылку на изменение Вашего пароля, и Вы можете это сделать, пройдя по ссылке ниже.
%p= link_to 'Изменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Если вы ничего не запрашивали, проигнорируйте это письмо.
%p Ваш пароль не будет изменён, пока Вы не пройдёте по ссылке и не укажете новый пароль.