%footer.page
  .wrapper
    %span.r &copy; PirateMinds, 2013
    = link_to 'jobus.me', 'http://jobus.me/', class: 'jobus'
    -#%ul.list.inline
    -#  %li
    -#    = link_to 'О проекте', root_path({static: 'about'})
    -#  %li
    -#    = link_to 'Помощь', root_path({static: 'help'})