%footer.page
  .wrapper
    %span.r &copy; PirateMinds, 2014
    %ul.list.inline
      %li
        = link_to 'О проекте', root_path({static: 'about'})
      %li
        = link_to 'Помощь', root_path({static: 'help'})